# Python
__pycache__/
*.pyc
*.pyo

# Entornos virtuales
venv/
.env/

# Configuración sensible
config.py

# Datos generados
summary/
*.csv

# VS Code
.vscode/

# Jupyter (por si acaso)
.ipynb_checkpoints/
